.header {
    color: white;
    background-color: #0061af;
    height: 77px;
    z-index: 1000;
}

#background {
    position: absolute;
    top: 0;
    opacity: 20%;
    z-index: -100;
}

#alice {
    padding-top: 88px;
    top: 77px;
}