.display-1,
.display-2,
.display-3,
.display-5,
.display-5 {
    font-family: "Oswald" !important;
    font-weight: 400;
}

.header {
    color: white;
    background-color: #0061af;
    height: 77px;
    z-index: 1000;
}

#background {
    position: absolute;
    top: 0;
    opacity: 20%;
    z-index: -100;
}

#alice {
    padding-top: 88px;
}

#tty {
    width: 900px;
    height: 600px;
}